// button iterations for each color
@each $color, $value in $colors {
  .btn-#{$color} {
    @include button-variant($color,.8);
    @include font-size(16);
    letter-spacing:0.1em;
    text-transform:uppercase;
    font-weight:500;
    padding:1rem 2.5rem 0.9rem;
    line-height:1;
    border-radius:0;
  }
  .btn-outline-#{$color} {
    @include button-outline-variant($color);
  }
  .btn-reverse-outline-#{$color} {
    @include button-reverse-outline-variant($color);
  }
  .btn-inverse-#{$color} {
    @include button-inverse-variant($color,.9);
  }
}

.btn-main-shade {
  color:color('sub-shade');
  &:hover, &:focus {
    color:color('main-shade');
    background:color('sub-shade');
    border-color:color('sub-shade');
  }
}
.btn-sub-shade {
  color:color('main-shade');
  &:hover, &:focus {
    color:color('sub-shade');
    background:color('main-shade');
    border-color:color('main-shade');
  }
}