// text classes from current color scheme
@each $color, $value in $colors {
    .text-#{$color} {
        color: color($color) !important;
    }
    .border-#{$color} {
        border-color: color($color) !important;
    }
}

.position-unset {
    position:unset !important;
}

.box-shadow {
    box-shadow:0 0 10px rgba(70, 95, 114, 0.15) !important;
}

.rounded {
    border-radius:10px !important;
}

// font weight
.font-weight-500 {
    font-weight: 500;
}
.font-weight-900 {
    font-weight: 900;
}